html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	line-height: 1;
  	height: 100%;
  	margin: 0;
  	padding: 0;
}


body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	text-align: center;
}

a {
	color: seashell;
	text-decoration: none;
}

h2 {
	font-size: 36px;
	font-weight: bold;
}


/* ==================== Main Styling ==================== */




/* ====== Header ====== */



header {
	background-color: black;
	height: 69px;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%;
	border-bottom: solid 1px white;
}

header img {
	height: 50px;
	padding-left: 10px;
}


.flex__nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav span {
	padding: 0 10px;
}

nav span a {
	transition: .3s ease;
	border-bottom: solid 1px seashell;
}

 nav span a:hover { 
 	color: grey;
 	border-bottom: solid 1px grey;
 }




/* ====== Cover ====== */


.cover {
	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin: 0 auto;
  	width: 100%;
  	height: 100%;
	background-image: url(../../resources/img/img-mission-background.jpg);

}

.down__arrow {
	position: absolute;
	bottom: 80px;
	height: 56px;
	margin: 0 auto;
	cursor: pointer;
	transition: .4s ease;

}

.down__arrow:hover {
	transform: translateY(20px);
}







/* ====== Typography ====== */


h2, h4, h5 {
	margin-bottom: 30px;
}

.hero__title {
	margin: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0,-50%);
}

.hero__title h2 {
	margin-bottom: 30px;
}

.hero__title h4 {
    padding: 0 20px;
    line-height: 30px;
}

.feature__titles {
	text-align: center;
	margin: auto;
}

h3 {
	padding: 10px;
	font-weight: bold;
}

p {
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}



/* ====== Flex Image Boxes ====== */



#shop {
	height: 740px;
    width: 1000px;
    margin: auto;
    padding-top: 100px;
}

.flex__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.image__box img {
	height: 200px;
	margin: 10px;
	display: block;
}

.image__box {
	padding: 5px;
}



/* ====== Location Section ====== */


.locations__bg {
	position: relative;
	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin: 0 auto;
  	width: 100%;
	background-image: url(../../resources/img/img-locations-background.jpg);
}

.location {
    background-color: black;
    margin: 5px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 280px;
    opacity: 1.0;
}

.location__title {
	margin-bottom: 15px;
}

#locations {
	padding: 200px 0;
}



/* ====== Footer ====== */


#footer {
	padding: 100px 0;
}

footer {
	border-top: solid 1px seashell;
	padding: 20px;
	text-align: left;
}

footer h5 {
	margin: 0;
}





